body
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  font-size: 100%;
  background: #BECEC3;
  background: -moz-linear-gradient(left, #BECEC3 0%, #BFC5C0 100%);
  background: -webkit-linear-gradient(left, #BECEC3 0%, #BFC5C0 100%);
  background: linear-gradient(to right, #BECEC3 0%, #BFC5C0 100%);
}
html{
  height:100%;
  width:100%;
}
